* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.blog-home {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: visible;
}

.wrapper {
  height: 400px;
  width: 600px;
  background-color: #a49162;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  border-right: 300px solid transparent;
  border-bottom: 200px solid transparent;
  border-left: 300px solid transparent;

  transform-origin: top;
  transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
  border-top: 200px solid #a79f81;
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
  border-top: 200px solid #a49162;
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;

  border-top: 200px solid transparent;
  border-right: 300px solid #a79f81;
  border-bottom: 200px solid #a49162;
  border-left: 300px solid #a79f81;

  z-index: 3;
}

.letter {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  z-index: 2;
  transition: 0.5s;
}

.letter p {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  color: #3B4049;
}

/* Hover animations */

.wrapper:hover .lid.one {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.wrapper:hover .lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.25s;
}

.wrapper:hover .letter {
  transform: translateY(-220px);
  transition-delay: 0.5s;
}

.letter {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;

  background-color: white;
  border-radius: 15px;
  z-index: 2;

  transition: 0.5s;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.blog-banner {
  width: 90%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin-top: 20px;
}